Nickname __.torrc.nickname.__
ORPort __.torrc.orport.__
ExitRelay __.torrc.exitrelay.__
SocksPort __.torrc.socksport.__
ControlSocket __.torrc.controlsocket.__
ContactInfo __.torrc.contactinfo.__
RelayBandwidthRate __.torrc.relaybandwidthrate.__

__.torrc.lognotice.__
__.torrc.logdebug.__
